/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Roboto-Regular.ttf');
}

/* roboto-bold- latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Roboto-Bold.ttf');
}

/* dm-serif-display-regular - latin */
@font-face {
  font-family: 'DMSerifDisplay';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/DMSerifDisplay-Regular.ttf'); 
}
