@mixin centered($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin centered-column() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin blue-round-border() {
  border: 1px solid $c-primary-blue;
  border-radius: 6px;
}

@mixin horizontal-line() {
    height: 3px;
    color: $c-primary-blue;
    background-color: $c-primary-blue;
}
