//colors
$c-white: white;
$c-active-link: #e6fcfc;
$c-primary-blue: #0f50a5;
$c-secondary-blue: #88aedf;
$c-tertiary-blue: #e7f8f8;
$c-error: #f01d1d;
$c-dark-red: rgb(192, 77, 77);
$c-light-red: rgb(240, 121, 121);
$c-black: black;
$c-light-gray: #ccc;
$c-dark-gray:#666666;
